head
	meta(charset='utf-8')
	meta(content='IE=edge', http-equiv='X-UA-Compatible')
	title Stones Framework

	meta(content='', name='description')
	meta(content='', name='keywords')
	meta(content='width=device-width, initial-scale=1', name='viewport')
	link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
	link(href='assets/stylesheet/stones.css', rel='stylesheet')