doctype
html
	head
	include partials/header
	body
		nav.fixed-top.bgcolor-white.color-black
			.container
				.brand
					img(src="assets/imgs/logo.png")
				ul.nav
					li Home
					li About
					li Contact
					li Dropdown