head
	meta(charset='utf-8')
	meta(content='IE=edge', http-equiv='X-UA-Compatible')
	title Stones Framework
	meta(content='Modular front-end framework built in Sass (and Coffee)', name='description')
	meta(content='Stones Framework stones-css sass coffee css javascript', name='keywords')
	meta(content='width=device-width, initial-scale=1', name='viewport')
	link(href='bower_components/fontawesome/css/font-awesome.min.css', rel='stylesheet')
	link(href='assets/css/stones.css', rel='stylesheet')