// ==========================================================================
// Base: provides the default style for all HTML elements.
// ==========================================================================

@import ../core/global
@import colors

// set font name and extension (default extension is ttf)
//+setFont($font,"otf")


+exports("base")
	body, html
		font-size: $baseFontSize
		+getFont($defaultFonts)
		color: getColor(darkgrayd)
		background-color: getColor(lightgray)
		+line-height

	h1
		font-size: 2em
	h2
		font-size: 1.5em
	h3
		font-size: 1.17em
	h5
		font-size: 0.83em
	h6
		font-size: 0.75em

	h1, h2, h3, h4, h5, h6
		font-family: inherit
		line-height: 1.1
		margin: 0.2

	a
		text-decoration: none
		+transition(color)
		color: getColor(mediumgrayd)
		&:hover
			color: getColor(darkgrayd)
	img
		width: 100%

	hr
		margin-top: 2.5em
		border-left: 0
		border: 1px solid getColor(mediumgray)

	code
		background-color: getColor(lightgrayd)
		+border-radius
		+padding(0 0.2em)

	input,textarea
		outline: none

	.text-thin
		font-weight: 100

	.text-fat
		font-weight: bold

	.align-left
		text-align: left
	.align-center
		text-align: center
	.align-right
		text-align: right

	.sidebar
		position: fixed
		top: 0
		bottom: 0

	.title,.subtitle
		+centered
		text-transform: uppercase
		letter-spacing: 0.1em
		+line-height(1.2em)

	.title
		font-weight: 400
		+margin(1em 0 1em)

	.subtitle
		font-weight: bold
		+margin(0 0 0.8em)

	.border
		border: 1px solid getColor(mediumgray)